/* Order Here Main Button */
.grid__container--main-button {
  grid-column: 1 / 7;
}

.grid__container--main-button a {
  height: 45px;
  width: 120px;
  padding: 10px;
  border: 1px solid var(--main-border-color);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size-button);
  text-align: center;
  text-decoration: none;
}

.grid__container--main-button a:hover {
  background-color: var(--button-hover-background-color);
  color: var(--second-text-color);
}

/* Order Button */
.grid__container--order-button button {
  margin-top: 40px;
  height: 45px;
  width: 120px;
  padding: 10px;
  border: 1px solid var(--main-border-color);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size-button);
  text-align: center;
  text-decoration: none;
}

.grid__container--order-button button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--second-text-color);
}
