.grid__container--footer {
  background-color: var(--color-gray);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gap);
  padding: var(--spacing-large);
  width: 100%;
  height: 100%;
  margin-top: var(--spacing-medium);
}

.grid__container--footer h2 {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
}

.grid__container--footer p {
  font-size: var(--font-size-footer);
}

.grid__container--footer-copyright {
  grid-column: 1 / 4;
}

.grid__container--footer-social {
  grid-column: 7 / 9;
}

.grid__container--footer-contact {
  grid-column: 10 / 12;
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 820px) {
  .grid__container--footer {
    grid-template-columns: repeat(8, 1fr);
    height: 180px;
  }

  .grid__container--footer-copyright {
    grid-column: 1 / 2;
  }

  .grid__container--footer-social {
    grid-column: 5 / 7;
  }

  .grid__container--footer-contact {
    grid-column: 7 / 9;
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .grid__container--footer {
    grid-template-columns: repeat(4, 1fr);
    padding: var(--spacing-medium);
  }

  .grid__container--footer-copyright {
    grid-column: 1 / 3;
  }

  .grid__container--footer-social {
    grid-column: 3 / 4;
  }

  .grid__container--footer-contact {
    grid-column: 4 / 5;
  }

  .grid__container--footer h2 {
    font-size: 1rem;
  }

  .grid__container--footer p {
    font-size: 0.6rem;
  }
}
