body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  width: 100%;
}

main {
  margin-top: var(--navbar-height);
}

.grid__container--order {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gap);
  padding: var(--spacing-large);
  width: 100%;
}

.grid__container--order-here {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.grid__container--order-here h1 {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-large);
}

.grid__container--order-introduction {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
  width: 100%;
}

.grid__container--order-introduction p {
  font-size: var(--font-size-base);
}

input,
select {
  height: var(--input-height);
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-black);
  margin-bottom: 40px;
  font-size: 19px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

input::placeholder {
  color: var(--color-black);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  text-decoration: none;
}

form {
  grid-column: 7 / 13;
  grid-row: 2 / 3;
  width: 100%;
}

#first-name,
#last-name,
#postal-code,
#country,
#color,
#quantity,
#street,
#city,
#material {
  width: 45%;
  margin-right: var(--spacing-medium);
  color: var(--color-black);
  background-color: var(--color-white);
}

#email,
#confirm-email {
  width: 100%;
}

#phone-country {
  width: 20%;
  margin-right: var(--spacing-medium);
  color: var(--color-black);
  background-color: var(--color-white);
}

#phone {
  width: 75%;
}

/* Order Button */
.grid__container--order-button {
  grid-column: 1 / 7;
  grid-row: 4;
}

.grid__container--order-button button {
  margin-top: 40px;
  height: var(--button-height);
  width: var(--button-width);
  padding: var(--spacing-small);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  text-align: center;
  text-decoration: none;
}

.grid__container--order-button button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 820px) {
  .grid__container--order {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid__container--order-here {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-bottom: var(--spacing-medium);
  }

  .grid__container--order-here h1 {
    font-size: 40px;
  }

  .grid__container--order-introduction {
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    margin-bottom: var(--spacing-medium);
  }

  .grid__container--order-introduction p {
    font-size: 25px;
  }

  form {
    grid-column: 1 / 9;
    grid-row: 3 / 4;
  }

  #first-name,
  #street,
  #city,
  #material {
    width: 45%;
  }

  #email,
  #confirm-email {
    width: 100%;
  }

  #phone {
    width: 75%;
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .grid__container--order {
    grid-template-columns: repeat(4, 1fr);
    padding: var(--spacing-medium);
  }

  .grid__container--order-here {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-bottom: var(--spacing-medium);
  }

  .grid__container--order-introduction {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin-bottom: var(--spacing-medium);
  }

  form {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  #first-name,
  #last-name,
  #postal-code,
  #country,
  #color,
  #quantity,
  #street,
  #city,
  #material {
    width: 43%;
    margin-right: var(--spacing-medium);
  }

  #phone {
    width: 73%;
  }
}
