body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  width: 100%;
}

/* --------------------------------------- */
/* Introduction Section */

.main__introduction {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/images/wassily-woman.jpg") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.main__introduction p {
  color: var(--color-white);
  font-size: var(--font-size-large);
}

/* --------------------------------------- */
/* Main Content */

.grid__container--main {
  padding: var(--spacing-medium);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gap);
  width: 100%;
}

/* --------------------------------------- */
/* About Text */

.grid__container--main-about {
  grid-column: 1 / 7;
  font-size: 19px;
}

/* --------------------------------------- */
/* About List */

.grid__container--about-list {
  grid-column: 1 / 7;
  grid-row: 2 / 4;
  padding: 10px 10px 0 0;
  grid-column: 1 / 7;
  grid-row: 2 / 4;
}

.grid__container--about-list ul {
  list-style: none;
}

.grid__container--about-list hr {
  margin: 10px 0;
}

.grid__container--about-list h1 {
  font-size: var(--font-size-list-h2);
  font-weight: var(--font-weight-base);
  margin-bottom: 5px;
}

.grid__container--about-list p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-base);
}

/* --------------------------------------- */
/* Image Section */

.grid__container--main-image {
  grid-column: 7 / 13;
  grid-row: 2 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.grid__container--main-image img {
  width: 100%;
  height: 100%;
  max-height: 570px;
  object-fit: cover;
}

/* --------------------------------------- */
/* Order Here Main Button */

.grid__container--main-button {
  grid-column: 1 / 7;
  grid-row: 4;
}

.grid__container--main-button a {
  height: var(--button-height);
  width: var(--button-width);
  padding: var(--spacing-small);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  text-align: center;
  text-decoration: none;
}

.grid__container--main-button a:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* --------------------------------------- */
/* Responsive Adjustments */
/* Tablet */

@media screen and (max-width: 820px) {
  .main__introduction {
    height: 40vh;
    margin-top: var(--spacing-x-large);
  }

  .main__introduction p {
    font-size: 2.5rem;
  }

  .grid__container--main {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid__container--main-about {
    grid-column: 1 / 9;
    grid-row: 1;
    font-size: 1.5rem;
  }

  .grid__container--main-image {
    grid-column: 1 / 9;
    grid-row: 2;
    justify-content: center;
  }

  .grid__container--main-image img {
    max-height: 400px;
  }

  .grid__container--about-list {
    margin-bottom: var(--spacing-medium);
    grid-column: 1 / 9;
    grid-row: 3;
  }

  .grid__container--main-button {
    grid-column: 1 / 3;
    grid-row: 4;
  }
}

/* --------------------------------------- */
/* Mobile */

@media screen and (max-width: 430px) {
  .main__introduction {
    margin-top: 75px;
  }

  .grid__container--main {
    grid-template-columns: repeat(4, 1fr);
    padding: var(--spacing-medium);
  }

  .grid__container--main-about {
    grid-column: 1 / 5;
    font-size: 1.4rem;
  }

  .grid__container--main-image {
    grid-column: 1 / 5;
    grid-row: 2;
    justify-content: center;
  }

  .grid__container--about-list {
    margin-bottom: var(--spacing-medium);
    grid-column: 1 / 5;
    grid-row: 3;
  }
}
