:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #e4e4e4;

  /* Fonts */
  --font-family: "Helvetica", sans-serif;
  --font-weight-base: 300;

  /* Sizes */
  --font-size-base: 19px;
  --font-size-large: 70px;
  --font-size-small: 0.9rem;
  --font-size-list-h2: 1.2rem;
  --font-size-footer: 15px;

  /* Spacing */
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --spacing-x-large: 50px;
  --navbar-height: 100px;
  --grid-gap: 20px;

  /* Components */
  --button-height: 45px;
  --button-width: 120px;
  --input-height: 35px;
}
